POSTGRES_USER=adm
POSTGRES_PASSWORD=senha
POSTGRES_DB=postgres
RABBITMQ_ADMIN_USER=admin
RABBITMQ_ADMIN_PASS=senha-admin
RABBITMQ_DEFAULT_VHOST=/
GRAFANA_ADMIN_USER=admin
GRAFANA_ADMIN_PASSWORD=admin
GRAFANA_ROOT_URL=http://localhost/grafana/
DEBUG_NETWORK_SUBNET=172.24.0.0/16
PACKET_CAPTURE_INTERFACE=any
PACKET_CAPTURE_FILTER=((tcp or udp or icmp) and not net 172.24.0.0/16 and not port 3000 and not port 3100 and not port 9090 and not port 9080 and not port 8080)
