POSTGRES_USER=adm
POSTGRES_PASSWORD=senha
POSTGRES_DB=postgres
RABBITMQ_ADMIN_USER=admin
RABBITMQ_ADMIN_PASS=senha-admin
RABBITMQ_DEFAULT_VHOST=/
GRAFANA_ADMIN_USER=admin
GRAFANA_ADMIN_PASSWORD=admin
GRAFANA_ROOT_URL=http://localhost:8080/grafana/
